.wrapper{
    display: inline-flex;
    .facebook{
          &:hover{
                span{
                  background: #3b5999;
                }
                .tooltip{
                  background: #3b5999;
                  &:before{
                        background: #3b5999;
                  }
                }
          }
    }
    .twitter{
      &:hover{
            span{
              background: #46c1f6;
            }
            .tooltip{
                  background: #46c1f6;
              &:before{
                  background: #46c1f6;
              }
            }
      }
}
.instagram{
      &:hover{
            span{
              background: #e1306c;
            }
            .tooltip{
                  background: #e1306c;
              &:before{
                  background: #e1306c;
              }
            }
      }
}
.youtube{
      &:hover{
            span{
              background: #de463b;
            }
            .tooltip{
                  background: #de463b;
              &:before{
                  background: #de463b;
              }
            }
      }
}
    .icon{
      margin: 0 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      &:hover{
            span{
                  color: #fff;
                  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
            }
            .tooltip{
                  top: -70px;
                  opacity: 1;
                  pointer-events: auto;
                  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
            }
      }
      span{
            position: relative;
            height: 60px;
            width: 60px;
            display: block;
            background: #fff;
            text-align: center;
            z-index: 2;
            border-radius: 50%;
            box-shadow: 0 10px 10px rgba(0,0,0,0.1);
            i{
                  font-size: 25px;
                  line-height: 60px;
                  &:hover{
                        color: #fff;
                  }
            }
      }
      .tooltip{
            position: absolute;
            top: 0px;
            background: #fff;
            color: #fff;
            font-size: 20px;
            padding: 10px 18px;
            border-radius: 25px;
            box-shadow: 0 10px 10px rgba(0,0,0,0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:before{
                  position: absolute;
                  content: "";
                  height: 15px;
                  width: 15px;
                  background: #fff;
                  bottom: -8px;
                  left: 50%;
                  transform: translateX(-50%) rotate(45deg);
                  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
      }
    }
 }