$blanco: #F1F1F1;
$negro: #111111;
*{
  font-family: "Noto sans", sans-serif; 
  color: $negro;
  margin: 0;
  padding: 0;
}
  //body
body{
    background: $blanco;
    &.dark{
        background: $negro;
    }
}
#switch{
    background: $blanco;
    padding: 1rem;
    width: 1320px;
    max-width: 82.3em;
    height: 700px;
    max-height: 43.75em;
    //enlace para regresar al index
  a{
    color: $negro;
    font-size: 1em;
    text-decoration: none;
    &:hover{
        font-size: 1.1em;
        transition: .3s ease all;
        color: #007EDA;
        text-decoration: underline;
    }
  }
  //estilos en el div
h1{
    font-size: 2em;
    color: $negro;
}
pre{
    font-size: 1em;
}
//estilos para imagen
img{
    height: 400px;
    width: 400px;
    border-radius: 500px;
    box-shadow: 5px 5px 0px $negro;
    border: 2px solid $negro;
}
//modo nocturno
    body.dark &{
        background: $negro;
        a{
            color: $blanco;
            &:hover{
                color: #007EDA;
                text-decoration: underline;
            }
        }
        h1{
            color: $blanco;
        }
        pre{
            color: $blanco;
        }
    }
}
//==================================================================================================================
@media (max-width: 1200px){
    #switch{
        width: 96.8%;
        height: 580px;
        a{
            font-size: 16px;
        }
        h1{
            font-size: 16px;
        }
        pre{
            font-size: 15px;
        }
        img{
            height: 350px;
            width: 350px;
        }
    }
}
@media (max-width: 992px){
    #switch{
        width: 95%;
        height: 580px;
        a{
            font-size: 16px;
        }
        h1{
            font-size: 16px;
        }
        pre{
            font-size: 11px;
        }
        img{
            height: 300px;
            width: 300px;
        }
    }
}
@media (max-width: 768px){
    #switch{
        width: 94%;
        height: 580px;
        a{
            font-size: 16px;
        }
        h1{
            font-size: 16px;
        }
        pre{
            font-size: 8.5px;
        }
        img{
            height: 250px;
            width: 250px;
        }
    }
}
@media (max-width: 576px){
    #switch{
        width: 93.5%;
        height: 580px;
        a{
            font-size: 16px;
        }
        h1{
            font-size: 16px;
        }
        pre{
            font-size: 7px;
        }
        img{
            height: 200px;
            width: 200px;
        }
    }
}