$blanco: #F1F1F1;
$blanco2: #FEFEFE;
$negro: #111111;
* {
    font-family: "Noto sans", sans-serif;
    color: $negro;
    margin: 0;
    padding: 0;
  }
  //body
  body{
    background: $blanco;
    &.dark{
        background: $negro;
    }
}
  #switch{
    background: $blanco;
    padding: 1rem;
    width: 1320px;
    max-width: 82.3em;
    height: 800px;
    max-height: 50em;
    a{
      color: $negro;
      font-size: 1em;
      text-decoration: none;
      &:hover{
          color: #007EDA;
          text-decoration: underline;
          font-size: 1.1em;
          transition: .3s ease all;
      }
    }
    h1{
      font-size: 2em;
    }
    h2{
      font-size: 2em;
    }
    pre{
      font-size: 1em;
    }
    img{
      height: 300px;
      width: 300px;
      border-radius: 500px;
      -webkit-box-shadow: 5px 5px 0px $negro;
              box-shadow: 5px 5px 0px $negro;
      border: 2px solid $negro;
    }
    //modo nocturno
    body.dark &{
        background: $negro;
        h1{
            color: $blanco2;
        }
        h2{
            color: $blanco2;
        }
        pre{
            color: $blanco2;
        }
        a{
            color: $blanco;
            &:hover{
                color: #007EDA;
                text-decoration: underline;
            }
        }
    }
  }
//==============================================================================================================
@media (max-width: 1200px){
  #switch{
    width: 96.7%;
    height: 100%;
    a{
      font-size: 16px;
    }
    h1, h2{
      font-size: 16px;
    }
    pre{
      font-size: 14px;
    }
    img{
      height: 300px;
    }
  }
}
@media (max-width: 992px){
  #switch{
    width: 95.8%;
    height: 100%;
    a{
      font-size: 16px;
    }
    h1, h2{
      font-size: 16px;
    }
    pre{
      font-size: 11px;
    }
    img{
      height: 300px;
    }
  }
}
@media (max-width: 768px){
  #switch{
    width: 94.4%;
    height: 100%;
    a{
      font-size: 16px;
    }
    h1, h2{
      font-size: 16px;
    }
    pre{
      font-size: 8px;
    }
    img{
      height: 300px;
    }
  }
}
@media (max-width: 576px){
  #switch{
    width: 93.4%;
    height: 580px;
    a{
      font-size: 16px;
    }
    h1, h2{
      font-size: 16px;
    }
    pre{
      font-size: 7px;
    }
    img{
      height: 200px;
      width: 200px;
    }
  }
}