$blanco: #F1F1F1;
$negro: #111111;
*{
  font-family: sans-serif; 
  color: $negro;
  margin: 0;
  padding: 0;
}
body{
background: $blanco;
}
#switch{
    background: $blanco;
    padding: 1rem;
    width: 1320px;
    max-width: 82.3em;
    height: 2100px;
    max-height: 131.25em;
    //enlace para regresar al index
a{
    text-decoration: none;
    color: $negro;
    font-size: 1em;
    &:hover{
        font-size: 1.1em;
        transition: .3s ease all;
        color:#007EDA;
        text-decoration:underline;
    }
}
//estilos en el div
h1{
    font-size: 2em;
    color: $negro;
}
h2{
    font-size: 2em;
    color: $negro;
}
h3{
    font-size: 2em;
    color: $negro;
}
h4{
    font-size: 2em;
    color: $negro;
}
//body
body{
    margin: 0;
    padding: 0;
}
//estilos para la imagen
img{
    height: 400px;
    width: 400px;
    border-radius: 500px;
    box-shadow:5px 5px 0px $negro;
    border:2px solid $negro;
}
//modo nocturno
    body.dark &{
        background: $negro;
        h1{
            color: $blanco;
        }
        h2{
            color: $blanco;
        }
        h3{
            color: $blanco;
        }
        h4{
            color: $blanco;
        }
        pre{
            color: $blanco;
        }
        a{
            color: $blanco;
            &:hover{
                color: #007EDA;
                text-decoration: underline;
            }
        }
    }
}
//================================================================================================================
@media (max-width: 1200px){
    #switch{
        width: 96.8%;
        height: 100%;
    a{
        font-size: 16px;
    }
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    pre{
        font-size: 14px;
    }
    img{
        height: 350px;
        width: 350px;
    }
}
}
@media (max-width: 992px){
    #switch{
        width: 95.8%;
        height: 100%;
    a{
        font-size: 16px;
    }
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    pre{
        font-size: 11px;
    }
    img{
        height: 300px;
        width: 300px;
    }
}
}
@media (max-width: 768px){
    #switch{
        width: 94.5%;
        height: 100%;
    a{
        font-size: 16px;
    }
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    pre{
        font-size: 8.5px;
    }
    img{
        height: 250px;
        width: 250px;
    }
}
}
@media (max-width: 576px){
    #switch{
        width: 93.4%;
        height: 100%;
    a{
        font-size: 16px;
    }
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    pre{
        font-size: 7px;
    }
    img{
        height: 200px;
        width: 200px;
    }
}
}